doctype html
html
  head
    title= 'Places to visit in Vietnam'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Overall review
    br
    a(href='/place') Places
    br
    a(href='/time') Good time to come

    block content
