extends layout

block content
    .row
        h4 New world cup winner
        form(action="", method = "post")
            .form-group-row
                label Year
                    input.form-control(name="year")
            .form-group-row
                label Region
                    input.form-control(name="region")
            .form-group-row
                button.btn-primary Add