extends layout

block content
    .row
        h4 New destination
        form(action="", method = "post")
            .form-group-row
                label place
                    input.form-control(name="place")
            .form-group-row
                label Region
                    input.form-control(name="region")
            .form-group-row
                button.btn-primary Add