extends layout

block content

    h1= 'Places to visit in Vietnam'

    ul.list-group
        each place in places
            li.list-group-item= place.name + ': ' + place.region
    a(href='place/add') Add new worldcup winner



